.introduction-rect {
    background: rgba(219, 218, 217, 0.8);
    color: #ff5500
}

.transparent-panel {
    background: rgba(219, 218, 217, 0.8);
    padding-bottom: 5px;
}

.oxsub-p {
    color: #4d4d4d;
}

.oxsub-p-right {
    color: #4d4d4d;
    text-align: right;
}

.oxsub-button {
    background-color: #ff5500;
    color: #ffffff;
    width: 160px;
    margin-top: 2px;
}